<template>
  <div class="manual-page">
    <ManualSearch v-if="loaded" :posts="searching" :url="url" />
  </div>
</template>

<script>
  import { ManualSearch } from '~/components/pages/wiki/manual';
  import { ManualApiService } from '~/services/pages';

  export default {
    name: 'Manual',
    components: { ManualSearch },
    inject: ['manualProperties'],
    layout: 'manual',
    data() {
      return {
        categories: [],
        url: `/${this.$i18n.locale}/wiki/manual`,
        manualApiService: new ManualApiService(this.$axios),
        loaded: false,
        searchingCategories: [],
        searchingPosts: [],
        breadcrumbs: [
          {
            name: this.$i18n.locale === 'ru' ? 'База знаний' : 'Wiki',
            slug: 'wiki',
            opening: false,
          },
          {
            name: this.$i18n.locale === 'ru' ? 'Инструкции' : 'Manual',
            slug: 'wiki/manual',
            opening: false,
          },
        ],
      };
    },
    computed: {
      isMobile() {
        return this.$store.state.screen.devices.mobile;
      },
      isTablet() {
        return this.$store.state.screen.devices.tablet;
      },
      searching() {
        return this.searchingCategories.concat(this.searchingPosts);
      },
      firstCategory() {
        return this.manualProperties.firstCategory;
      },
    },
    watch: {
      'manualProperties.firstCategory': {
        deep: true,
        handler(firstCategory) {
          if (!this.$route.query.search) {
            this.redirectToFirstCategory(null, firstCategory);
          }
        },
      },
    },
    mounted() {
      this.setBreadcrumbs();
      window.addEventListener('resize', this.redirectToFirstCategory);
    },
    async created() {
      this.$nuxt.$on('submitSearchQuery', async (query) => {
        await this.search(query);
      });

      if (this.$route.query.search) {
        await this.search(this.$route.query.search);
      } else if (this.firstCategory) {
        this.redirectToFirstCategory();
      }
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.redirectToFirstCategory);
      this.$nuxt.$off('submitSearchQuery', this.search);
    },
    methods: {
      setBreadcrumbs() {
        this.$store.dispatch('breadcrumbs/setBreadcrumbs', {
          breadcrumbs: this.breadcrumbs,
        });
      },
      redirectToFirstCategory(e, category = this.firstCategory) {
        if (!this.isMobile && !this.isTablet) {
          return this.$router.push({
            path: `${this.url}/${category.latin_name}`,
          });
        }
      },
      async search(query) {
        this.searchingCategories = await this.manualApiService.searchCategories(
          {
            locale: this.$i18n.locale,
            query: query || this.$route.query.search,
          },
        );
        this.searchingPosts = await this.manualApiService.searchPosts({
          locale: this.$i18n.locale,
          query: query || this.$route.query.search,
        });

        this.loaded = true;
      },
    },
  };
</script>

<style lang="less">
  @import 'assets/less/vars/_text';
</style>
