<!-- eslint-disable prettier/prettier, max-len -->
<template>
  <li class="sidebar-dropdown">
    <div
      :class="{'active': checkCategoryActive(activeLink.full_latin_name || activeLink.latin_name), 'open': isOpen}"
      class="sidebar-dropdown__header"
      @click="toggleHandleDropdown"
    >
      <nuxt-link
        property="item"
        typeof="WebPage"
        :to="{path: `${url}/${dropdown.latin_name}`}"
        class="content content_text sidebar-dropdown__header-wrapper"
        @click.native="toggleActiveLink($event, dropdown.latin_name)"
      >
        <div class="sidebar-dropdown__header-preview">
          <inline-svg
            v-if="dropdown.icon"
            :class="'sidebar-dropdown__header-preview-icon'"
            :src="require(`~/assets/images/general-icons/icon-${dropdown.icon.code}.svg`)"
          />
        </div>

        <span>{{ dropdown.name }}</span>
      </nuxt-link>

      <inline-svg
        :src="require(`~/assets/images/general-icons/icon-chevron.svg`)"
        class="sidebar-dropdown__header-arrow"
        width="15"
        height="8.75"
      />
    </div>

    <transition
      name="fade"
      appear
    >
      <ul
        v-show="isOpen"
        class="sidebar-dropdown__links"
      >
        <nuxt-link
          v-for="link in dropdown.items"
          :key="link.full_latin_name"
          property="item"
          typeof="WebPage"
          :to="{path: generateLinkUrl(link.full_latin_name)}"
          :class="{'active': checkActiveLink(link.full_latin_name)}"
          class="content content_text sidebar-dropdown__links-item"
          @click.native="toggleActiveLink($event, link.full_latin_name)"
        >
          {{ link.name }}
        </nuxt-link>
      </ul>
    </transition>
  </li>
</template>
<!-- eslint-enable -->

<script>
  export default {
    props: {
      dropdown: {
        type: Object,
        required: true,
      },
      url: {
        type: String,
        required: true,
      },
      type: {
        type: String,
        required: true,
      },
      activeLink: {
        type: [Boolean, Object],
        default: null,
      },
    },
    data() {
      return {
        isOpen: false,
        dropdownIsActive: false,
      };
    },
    computed: {
      checkActiveLink() {
        return (link) => {
          if (this.activeLink) {
            return this.activeLink.full_latin_name === link;
          }
        };
      },
      checkCategoryActive() {
        return (name) => {
          let i = 0;

          if (
            name === this.dropdown.full_latin_name ||
            name === this.dropdown.latin_name
          ) {
            return true;
          }

          while (i < this.dropdown.items.length) {
            if (
              name === this.dropdown.items[i].full_latin_name ||
              name === this.dropdown.items[i].latin_name
            ) {
              return true;
            }

            i += 1;
          }

          return false;
        };
      },
    },
    mounted() {
      if (
        this.checkCategoryActive(
          this.activeLink.full_latin_name || this.activeLink.latin_name,
        )
      ) {
        this.isOpen = true;
      }
    },
    methods: {
      toggleHandleDropdown() {
        this.isOpen = !this.isOpen;
      },
      toggleActiveLink(e, link) {
        e.stopPropagation();

        this.$emit('toggleSidebarLink', link);
      },
      generateLinkUrl(link) {
        if (this.type === 'anchors') {
          return `${this.url}/${this.dropdown.latin_name}#${link}`;
        }

        return `${this.url}/${this.dropdown.latin_name}/${link}`;
      },
    },
  };
</script>

<style lang="less">
  .sidebar-dropdown {
    font-weight: @weightSemiBold;
    display: flex;
    flex-direction: column;
    grid-auto-flow: unset;
    width: 100%;

    &__header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding: 9px 15px;
      font-weight: 500;
      color: #292929;
      letter-spacing: -0.01em;
      border-radius: 5px;
      cursor: pointer;

      &.active,
      &:hover {
        background-color: #f4fafd;
      }
      &.open {
        .sidebar-dropdown__header-arrow {
          transform: rotate(-180deg);
        }
      }
      &-wrapper {
        display: flex;
        align-items: center;
      }
      &-arrow {
        margin-left: auto;
        fill: #d8d8d8;
      }
      &-preview {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        &-icon {
          margin-right: 16px;
        }
        &-title {
          color: #909090;
          font-size: 12px;
          line-height: 20px;
          margin-right: 5px;
        }
      }
    }
    &__links {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 60px;
      margin-top: 10px;

      &-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #292929;
        font-weight: 500;
        letter-spacing: -0.01em;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &.active {
          color: #0096ff;
        }
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: all 0.5s ease-out;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
</style>
