<!-- eslint-disable prettier/prettier, max-len -->
<template>
  <div class="sidebar">
    <div class="sidebar__links">
      <div
        v-for="link in transformedLinks"
        :key="link.name"
        class="sidebar__links-item-wrapper"
      >
        <SidebarDropdown
          v-if="typeof link.items !== 'undefined'"
          :dropdown="link"
          :url="url"
          :activeLink="activeLink"
          :type="type"
          @toggleSidebarLink="toggleActiveLink"
        />
        <nuxt-link
          v-else
          class="content content_text sidebar__links-item"
          :class="{active: checkActiveLink(link.full_latin_name || link.latin_name)}"
          property="item"
          typeof="WebPage"
          :to="{path: link.custom ? url : `${url}/${link.latin_name}`}"
          @click.native="toggleActiveLink(link.latin_name)"
        >
          <inline-svg
            v-if="link.icon"
            class="sidebar__links-item-icon"
            :src="require(`~/assets/images/general-icons/icon-${link.icon.code}.svg`)"
          />

          {{ link.name }}

          <inline-svg
            class="sidebar__links-item-arrow"
            :src="require('~/assets/images/general-icons/icon-chevron.svg')"
            width="12"
            height="7"
          />
        </nuxt-link>
      </div>
    </div>
  </div>
</template>
<!-- eslint-enable -->

<script>
  import SidebarDropdown from './SidebarDropdown';

  export default {
    components: {
      SidebarDropdown,
    },
    props: {
      links: {
        type: Array,
        required: true,
      },
      customLinks: {
        type: Object,
        default: () => ({}),
      },
      activeLink: {
        type: [Boolean, Object],
        default: null,
      },
      url: {
        type: String,
        required: true,
      },
      type: {
        type: String,
        default: 'links',
      },
    },
    computed: {
      checkActiveLink() {
        return (link) => {
          if (this.activeLink) {
            return this.activeLink.latin_name === link;
          }
        };
      },
      transformedLinks() {
        const customLinks = [];

        Object.keys(this.customLinks).forEach((key) => {
          customLinks.push({
            ...this.customLinks[key],
            custom: true,
          });
        });

        return customLinks.concat(this.links);
      },
    },
    methods: {
      toggleActiveLink(link) {
        this.$emit('toggleSidebarLink', link);
      },
    },
  };
</script>

<style lang="less">
  .sidebar {
    left: 0;
    top: 11%;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    position: sticky;

    @media @media-sm-max {
      max-width: none;
      width: 100%;
      position: relative;
      left: auto;
      top: auto;
    }

    &__links {
      @media @media-sm-max {
        height: 100%;
      }

      &-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 100%;
        border-radius: 5px;
        padding: 5px 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &-icon {
          margin-right: 16px;
        }
        &-wrapper {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
        &.active,
        &:hover {
          @media @media-sm-min {
            background-color: #f4fafd;
          }
        }
        &-arrow {
          display: none;

          @media @media-sm-max {
            display: block;
            margin-left: auto;
            transform: rotate(-90deg);
            fill: #d8d8d8;
          }
        }
      }
    }
  }
</style>
