<!-- eslint-disable prettier/prettier, max-len -->
<template>
  <nuxt-link
    property="item"
    typeof="WebPage"
    :to="url"
    class="content content_text sidebar-back"
    @click.native="toggleBack"
  >
    <inline-svg
      :src="require(`~/assets/images/general-icons/icon-chevron.svg`)"
      class="sidebar-back-icon"
      width="12"
      height="7"
    />

    {{ $i18n.locale === 'ru' ? 'Назад к списку' : 'Back to list' }}
  </nuxt-link>
</template>
<!-- eslint-enable -->

<script>
  export default {
    props: {
      url: {
        type: String,
        default: '',
      },
    },
    methods: {
      toggleBack() {
        this.$emit('toggleBack');
      },
    },
  };
</script>

<style lang="less">
  .sidebar-back {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: #0096ff;
    cursor: pointer;

    &-icon {
      transform: rotate(90deg);
      fill: #0096ff;
      margin-right: 12px;
      margin-top: -2px;
    }
  }
</style>
