<!-- eslint-disable prettier/prettier, max-len -->
<template>
  <div v-if="links.length" class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumbs-list">
        <li
          v-for="(link, index) in links"
          :key="link.name"
          class="breadcrumbs-list-item"
          property="itemListElement"
          typeof="ListItem"
        >
          <nuxt-link
            v-if="link.opening"
            property="item"
            typeof="WebPage"
            :to="{path: localePath(`/${link.slug}`)}"
            class="breadcrumbs-list-item-link"
            @click.native="breadcrumbToggle"
          >
            <span property="name">{{ link.name }}</span>
          </nuxt-link>
          <div
            v-else
            class="breadcrumbs-list-item-link disabled"
          >
            <span property="name">{{ link.name }}</span>
          </div>
          <meta
            property="position"
            :content="index + 1"
          />
        </li>
      </ol>
    </div>
  </div>
</template>
<!-- eslint-enable -->

<script>
  export default {
    computed: {
      links() {
        return this.$store.state.breadcrumbs.links;
      },
    },
    beforeDestroy() {
      this.$nuxt.$off('breadcrumbToggle');
    },
    methods: {
      breadcrumbToggle() {
        this.$nuxt.$emit('breadcrumbToggle');
      },
    },
  };
</script>

<style lang="less" scoped>
  .breadcrumbs {
    list-style: none;
    margin-top: 50px;
    margin-bottom: 25px;

    @media @media-sm-max {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &-item {
        display: flex;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;

        @media @media-sm-max {
          font-size: 10px;
          line-height: 16px;
        }

        &:not(:last-child) {
          &:after {
            content: '/';
            display: inline;
            color: #3c3c3c;
            margin: 0 10px;
            cursor: default;
          }
        }
        &-link {
          color: #3c3c3c;

          &:hover {
            color: @main;
          }
          &.disabled {
            color: #909090;
          }
        }
      }
    }
  }
</style>
