<!-- eslint-disable prettier/prettier, max-len -->
<template>
  <div class="rate-article">
    <div class="rate-article-wrapper rate-article__text">
      <div class="subtitle subtitle_secondary rate-article__title">Была ли эта статья полезна?</div>
      <div class="content content_text rate-article__scores">{{ score.useful }} из {{ allScores }} пользователей сочли ее полезной</div>
    </div>
    <div class="rate-article-wrapper rate-article__emoji">
      <div class="rate-article__emoji-item rate-article__emoji-item--useful" :class="{'rate-article__emoji-item--disable': postLiked}" @click="toggleRate('sad')">
        <inline-svg
          :src="require(`~/assets/images/general-icons/icon-dislike.svg`)"
          width="28.75"
          height="28.75"
        />
      </div>
      <div class="rate-article__emoji-item rate-article__emoji-item--useless" :class="{'rate-article__emoji-item--disable': postLiked}" @click="toggleRate('happy')">
        <inline-svg
          :src="require(`~/assets/images/general-icons/icon-like.svg`)"
          width="28.75"
          height="28.75"
        />
      </div>
    </div>
  </div>
</template>
<!-- eslint-enable -->

<script>
  export default {
    props: {
      score: {
        type: Object,
        required: true,
      },
      postLiked: {
        type: Boolean,
        required: true,
      },
      postId: {
        type: Number,
        required: true,
      },
      localstorageVariable: {
        type: String,
        required: true,
      },
    },
    computed: {
      allScores() {
        return this.score.useful + this.score.useless;
      },
    },
    methods: {
      toggleRate(type) {
        if (this.postLiked) {
          return true;
        }

        let postsLiked = [];
        if (localStorage[this.localstorageVariable]) {
          postsLiked = JSON.parse(localStorage[this.localstorageVariable]);
        }
        postsLiked.push({
          id: this.postId,
          type,
        });
        localStorage[this.localstorageVariable] = JSON.stringify(postsLiked);

        this.$emit('toggleRate', type);
      },
    },
  };
</script>

<style lang="less">
  .rate-article {
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__title {
      margin-bottom: 10px;
      font-weight: 600;
    }
    &__emoji {
      display: flex;
      align-items: center;

      &-item {
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 15px;
        }
        &--disable {
          opacity: 0.6;
        }
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
</style>
