<!-- eslint-disable prettier/prettier, max-len -->
<template>
  <div class="manual-page manual-page--category">
    <ManualPosts
      v-if="loaded"
      :post="post"
      :postLiked="checkPostLiked"
      :url="url"
      @toggleRate="toggleRate"
    />
  </div>
</template>
<!-- eslint-enable -->

<script>
  import { ManualApiService } from '~/services/pages';
  import { ManualPosts } from '~/components/pages/wiki/manual';

  export default {
    name: 'ManualCategory',
    components: { ManualPosts },
    layout: 'manual',
    async asyncData({ $axios, params, app, error }) {
      let returnedData = {};

      try {
        const manualApiService = new ManualApiService($axios);
        const post = await manualApiService.initPost({
          locale,
          category: params.category,
        });

        const breadcrumbs = [
          {
            name: locale === 'ru' ? 'База знаний' : 'Wiki',
            slug: 'wiki',
            opening: false,
          },
          {
            name: locale === 'ru' ? 'Инструкции' : 'Manual',
            slug: 'wiki/manual',
            opening: true,
          },
          {
            name: post.name,
            slug: '',
            opening: false,
          },
        ];

        returnedData = {
          ...returnedData,
          post,
          breadcrumbs,
          loaded: true,
        };
      } catch (e) {
        error({ statusCode: e.status, message: e.message });
      }

      return returnedData;
    },
    data() {
      return {
        manualApiService: {},
        url: `/${this.$i18n.locale}/wiki/manual`,
        post: {},
        postLiked: false,
        loaded: false,
        breadcrumbs: [],
      };
    },
    computed: {
      checkPostLiked() {
        if (process.server) {
          return false;
        }

        if (this.postLiked) {
          return true;
        }

        if (localStorage.manualPostsLiked) {
          return !!JSON.parse(localStorage.manualPostsLiked).find(
            (post) => post.id === this.post.id,
          );
        }

        return false;
      },
    },
    mounted() {
      this.setBreadcrumbs();
    },
    methods: {
      setBreadcrumbs() {
        this.$store.dispatch('breadcrumbs/setBreadcrumbs', {
          breadcrumbs: this.breadcrumbs,
        });
      },
      async getPosts() {
        try {
          const manualApiService = new ManualApiService(this.$axios);
          this.post = await manualApiService.initPost({
            locale: this.$i18n.locale,
            category: this.$route.params.category,
          });

          this.breadcrumbs.push({
            name: this.post.name,
            slug: '',
            opening: false,
          });

          this.loaded = true;
        } catch (error) {
          return this.$nuxt.error({
            statusCode: error.status,
            message: error.message,
          });
        }
      },
      async toggleRate(type) {
        const manualApiService = new ManualApiService(this.$axios);
        const scores = await manualApiService.postRate({
          type,
          post: this.post.id,
        });

        this.post.useful = scores.useful;
        this.post.useless = scores.useless;

        this.postLiked = true;
      },
    },
  };
</script>

<style lang="less">
  @import 'assets/less/vars/_text';
</style>
