<!-- eslint-disable prettier/prettier, max-len -->
<template>
  <section class="manual-page-posts">
    <div class="manual-page-posts__content">
      <div
        v-if="hasPosts"
        class="manual-page-posts__content-list"
      >
        <div class="manual-page-posts__content-list-wrapper">
          <div v-for="manual in post.manuals" :id="manual.full_latin_name" :key="manual.full_latin_name" class="manual-page-posts__manual">
            <h2 class="subtitle subtitle_primary manual-page-posts__manual-title">{{ manual.title }}</h2>

            <div class="manual-page-posts__manual-content-wrapper">
              <div v-for="content in manual.content" :key="content.latin_name" class="content content_text manual-page-posts__manual-content">
                <div v-if="content.__component === 'content.html-text'" class="manual-page-posts__manual-content-item" v-html="content.text"></div>

                <DropdownSingle
                  v-if="content.__component === 'content.html-text-collapse'"
                  :dropdown="content"
                  class="manual-page-posts__manual-content-item manual-page-posts__manual-content-item--dropdown"
                />
              </div>
            </div>
          </div>
        </div>

        <RateArticle :score="score" :postLiked="postLiked" :postId="post.id" localstorageVariable="manualPostsLiked" @toggleRate="toggleRate" />
      </div>
    </div>

    <PopupGallery v-if="modalGalleryVisible" :src="popupImage.src" :alt="popupImage.alt" />
  </section>
</template>
<!-- eslint-enable -->

<script>
  import {
    CardLink,
    DropdownSingle,
    PopupGallery,
    RateArticle,
  } from '~/components/common';

  export default {
    components: {
      CardLink,
      DropdownSingle,
      PopupGallery,
      RateArticle,
    },
    props: {
      post: {
        type: Object,
        required: true,
      },
      url: {
        type: String,
        required: true,
      },
      postLiked: {
        type: Boolean,
        required: true,
      },
    },
    data() {
      return {
        popupImage: {},
      };
    },
    computed: {
      isLaptop() {
        return this.$store.state.screen.devices.laptop;
      },
      isDesktop() {
        return this.$store.state.screen.devices.desktop;
      },
      modalGalleryVisible() {
        return !!(this.isLaptop || this.isDesktop);
      },
      hasPosts() {
        return this.post.manuals.length;
      },
      score() {
        return {
          useful: this.post.useful,
          useless: this.post.useless,
        };
      },
    },
    watch: {
      posts() {
        window.scrollTo(0, 0);
      },
    },
    mounted() {
      document
        .querySelectorAll('.manual-page-posts__manual-content img')
        .forEach((image) => {
          image.addEventListener('click', (event) =>
            this.contentImageHandler(event),
          );
        });

      if (this.$route.hash) {
        document.getElementById(this.$route.hash.slice(1)).scrollIntoView();
      } else {
        window.scrollTo(0, 0);
      }
    },
    beforeDestroy() {
      window.removeEventListener('click', this.contentImageHandler);
    },
    methods: {
      contentImageHandler(event) {
        const targetElement = event.target;

        this.popupImage = {
          src: targetElement.getAttribute('src'),
          alt: targetElement.getAttribute('alt'),
        };

        this.$modal.show('gallery-modal');
      },
      toggleRate(type) {
        this.$emit('toggleRate', type);
      },
    },
  };
</script>

<style lang="less">
  .manual-page-posts {
    a[href] {
      color: #0096ff;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media @media-sm-max {
        flex-direction: column;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      &-list {
        width: 100%;

        &-wrapper {
          margin-bottom: 40px;
        }
      }
      &.empty {
        align-items: center;
      }
      &-title {
        margin-bottom: 20px;
      }
      img {
        cursor: pointer;
      }
    }
    &__manual {
      padding-top: 90px;
      margin-top: -90px;
      background-clip: content-box;

      &:not(:last-child) {
        margin-bottom: 35px;
      }

      &-title {
        margin-bottom: 20px;
        font-weight: 600;

        @media @media-sm-max {
          display: none;
        }
      }
      &-content {
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }
</style>
