<!-- eslint-disable prettier/prettier, max-len -->
<template>
  <section class="manual-page-searching">
    <div class="manual-page-searching__content">
      <h2 class="subtitle subtitle_primary manual-page-searching__title">Результаты поиска по запросу «{{ $route.query.search }}»</h2>

      <div
        v-if="hasPosts"
        class="manual-page-searching__content-list"
      >
        <div v-for="(searchingPost, index) in posts" :key="index" class="manual-page-searching__post">
          <div v-if="searchingPost.category" class="content content_text manual-page-searching__post-category" v-html="generateCategoryRaw(searchingPost)"></div>

          <nuxt-link
            property="item"
            typeof="WebPage"
            :to="{path: generateUrl(searchingPost)}"
            class="content content_text manual-page-searching__post-content"
            v-html="generateContentRaw(searchingPost)"
          ></nuxt-link>
        </div>
      </div>
      <div
        v-else
        class="content content_text manual-page-searching__content-list empty"
      >
        <span>К сожалению, ничего не нашлось.</span>
        <span>Вы всегда можете задать интересующий вас вопрос в онлайн-чате</span>
      </div>
    </div>
  </section>
</template>
<!-- eslint-enable -->

<script>
  import { CardLink, DropdownSingle } from '~/components/common';

  export default {
    components: {
      CardLink,
      DropdownSingle,
    },
    props: {
      posts: {
        type: Array,
        required: true,
      },
      url: {
        type: String,
        required: true,
      },
    },
    computed: {
      hasPosts() {
        return this.posts.length;
      },
    },
    mounted() {
      window.scrollTo(0, 0);
    },
    methods: {
      generateCategoryRaw(searchingPost) {
        return `${searchingPost.category.name} - ${searchingPost.title_searched}`;
      },
      generateUrl(searchingPost) {
        if (!searchingPost.category) {
          return `${this.url}/${searchingPost.latin_name}`;
        }

        return `${this.url}/${searchingPost.category.latin_name}#${searchingPost.latin_name}`;
      },
      generateContentRaw(searchingPost) {
        return (
          searchingPost.content_searched ||
          searchingPost.name_searched ||
          searchingPost.title_searched
        );
      },
    },
  };
</script>

<style lang="less">
  .manual-page-searching {
    @media @media-sm-max {
      margin-top: 20px;
    }

    a[href] {
      color: #0096ff;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media @media-sm-max {
        flex-direction: column;
      }
    }
    &__title {
      margin-bottom: 20px;
      font-weight: 600;
    }
    &__post {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      a {
        color: #0096ff;
      }
      &-category {
        margin-bottom: 5px;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      @media @media-sm-max {
        margin-top: 20px;
      }

      .word {
        background-color: #dae9f3;
      }
      &-list {
        width: 100%;

        &.empty {
          display: flex;
          flex-direction: column;
          font-weight: 500;
        }
      }
      &-title {
        margin-bottom: 20px;
      }
    }
    &__manual {
      padding-top: 90px;
      margin-top: -90px;
      background-clip: content-box;

      &:not(:last-child) {
        margin-bottom: 35px;
      }

      &-title {
        margin-bottom: 20px;
        font-weight: 600;
      }
      &-content {
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }
</style>
