<!-- eslint-disable prettier/prettier, max-len -->
<template>
  <div id="layout-default">
    <Header />

    <main
      id="main"
      role="main"
    >
      <div class="navigation">
        <Breadcrumbs />

        <div class="container navigation__bottom">
          <portal-target
            class="navigation__portal navigation__portal--back"
            name="portal--navigation-back"
          />

          <div class="navigation-wrapper">
            <PageTitle />

            <portal-target
              class="navigation__portal navigation__portal--search"
              name="portal--navigation-search"
            />
          </div>
        </div>
      </div>

      <slot>
        <nuxt />
      </slot>
    </main>

    <Cookie />

    <Footer />
  </div>
</template>
<!-- eslint-enable -->

<script>
  import { createCookie } from '~/mixins';
  import Cookie from '~/components/common/Cookie';
  import { Header, Footer } from '~/components/layout';
  import { Breadcrumbs, PageTitle } from '~/components/common';

  export default {
    name: 'DefaultLayout',
    components: { Breadcrumbs, PageTitle, Header, Footer, Cookie },
    mixins: [createCookie],
    data() {
      return {
        urlParams: {},
      };
    },
    async created() {
      if (typeof this.$route.query.affiliate !== 'undefined') {
        this.createdCookieAffiliate(this.$route.query.affiliate);
      }

      this.setActiveLocale();
    },
    mounted() {
      this.screenCheck();
      window.addEventListener('resize', () => {
        this.screenCheck();
      });
    },
    methods: {
      setActiveLocale() {
        this.$store.dispatch('locales/setActiveLocale', this.$i18n.locale);
      },
      screenCheck() {
        this.$store.dispatch('screen/screenCheck');
      },
    },
  };
</script>

<style lang="less">
  #main {
    margin-top: 70px;

    @media @media-sm-max {
      margin-top: 51px;
    }
  }
  .navigation {
    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media @media-sm-max {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
    &__bottom {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
    }
    &__portal {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;

      @media @media-sm-max {
        width: 100%;
      }

      &--search {
        & > * {
          @media @media-sm-max {
            margin-top: 20px;
          }
        }
      }
      &--back {
        justify-content: flex-start;

        & > * {
          margin-bottom: 20px;
        }
      }
    }
  }
</style>
