<!-- eslint-disable prettier/prettier, max-len -->
<template>
  <DefaultLayout>
    <div class="manual-page-layout">
      <div class="container">
        <div class="manual-page-layout-wrapper">
          <portal to="portal--navigation-search">
            <Search
              v-show="searchState || sidebarVisible"
              :url="url"
            />
          </portal>
          <portal to="portal--navigation-back">
            <SidebarBack
              v-if="contentVisible"
              :url="url"
              @toggleBack="handlerPostsVisible(false)"
            />
          </portal>

          <Sidebar
            v-if="sidebarVisible"
            :activeLink="category"
            :links="categories"
            :url="url"
            type="anchors"
            @toggleSidebarLink="handlerPostsVisible(true)"
          />

          <div
            v-show="contentVisible"
            class="manual-page-layout-content"
          >
            <transition name="fade">
              <nuxt />
            </transition>
          </div>
        </div>
      </div>
    </div>
  </DefaultLayout>
</template>
<!-- eslint-enable -->

<script>
  import { ManualApiService } from '~/services/pages';
  import { Sidebar, SidebarBack } from '~/components/common';
  import DefaultLayout from './default';

  export default {
    name: 'ManualLayout',
    components: { DefaultLayout, Sidebar, SidebarBack },
    provide() {
      const manualProperties = {};

      Object.defineProperty(manualProperties, 'firstCategory', {
        enumerable: true,
        get: () => this.categories[0],
      });

      return { manualProperties };
    },
    data() {
      return {
        title: 'Инструкции',
        url: `/${this.$i18n.locale}/wiki/manual`,
        categories: [],
        postsVisible: false,
      };
    },
    async fetch() {
      await this.getCategories();
    },
    computed: {
      isLaptop() {
        return this.$store.state.screen.devices.laptop;
      },
      isDesktop() {
        return this.$store.state.screen.devices.desktop;
      },
      contentVisible() {
        if (this.isLaptop || this.isDesktop) {
          return true;
        }

        return this.postsVisible;
      },
      sidebarVisible() {
        if (this.isLaptop || this.isDesktop) {
          return true;
        }

        return !this.contentVisible;
      },
      searchState() {
        return this.$route.query.search;
      },
      category() {
        return this.searchCategory(
          this.$route.hash.slice(1) || this.$route.params.category || false,
        );
      },
    },
    watch: {
      category(category) {
        let title = this.title;

        if (!this.isLaptop && !this.isDesktop) {
          title = category.name || title;
        }

        this.setPageTitle(title);
      },
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.redirectToFirstCategory);
      this.$nuxt.$off('submitSearchQuery', this.handlerPostsVisible);
      this.$nuxt.$off('breadcrumbToggle', this.handlerPostsVisible);
    },
    mounted() {
      this.$nuxt.$on('submitSearchQuery', () => {
        this.handlerPostsVisible(true);
      });
      this.$nuxt.$on('breadcrumbToggle', () => {
        this.handlerPostsVisible(false);
      });

      this.setPageTitle(this.title);

      if (this.$route.query.search) {
        this.handlerPostsVisible(true);
      }
    },
    methods: {
      handlerPostsVisible(state) {
        this.postsVisible = state;
      },
      searchCategory(categoryName) {
        let category = false;

        for (
          let categoryIndex = 0;
          categoryIndex < this.categories.length;
          categoryIndex++
        ) {
          if (this.categories[categoryIndex].latin_name === categoryName) {
            category = this.categories[categoryIndex];
          }

          if (typeof this.categories[categoryIndex].items !== 'undefined') {
            for (
              let anchorIndex = 0;
              anchorIndex < this.categories[categoryIndex].items.length;
              anchorIndex++
            ) {
              if (
                this.categories[categoryIndex].items[anchorIndex].full_latin_name ===
                categoryName
              ) {
                category = this.categories[categoryIndex].items[anchorIndex];
              }
            }
          }
        }

        if (!category) {
          category = false;
        }

        return category;
      },
      setPageTitle(pageTitle = this.category.name) {
        this.$store.dispatch('setPageTitle', {
          pageTitle,
        });
      },
      async getCategories() {
        const manualApiService = new ManualApiService(this.$axios);
        this.categories = await manualApiService.initCategories({
          locale: this.$i18n.locale,
        });
      },
    },
  };
</script>

<style lang="less">
  .manual-page-layout {
    margin-top: 50px;
    margin-bottom: 130px;

    @media @media-xs-max {
      margin-top: 30px;
      margin-bottom: 70px;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media @media-sm-max {
        flex-direction: column;
      }
    }
    &-content {
      width: 100%;
      margin-left: 20px;
      max-width: 730px;
      overflow: hidden;

      @media @media-sm-max {
        margin-left: 0;
        max-width: 100%;
      }
    }

    // sidebarBack
    .sidebar-back {
      @media @media-sm-min {
        display: none;
      }
    }
  }
</style>
