<!-- eslint-disable prettier/prettier, max-len -->
<template>
  <li class="dropdown-single">
    <button
      class="dropdown-single__title"
      :class="{'active': isOpen}"
      @click="openDropdownList"
    >
      <span class="content content_text">{{ dropdown.title }}</span>

      <inline-svg
        :src="require(`~/assets/images/general-icons/icon-chevron.svg`)"
        class="dropdown-single__icon"
        width="15"
        height="8.75"
      />
    </button>

    <transition
      name="fade"
      appear
    >
      <div
        v-show="isOpen"
        class="dropdown-single-content"
        v-html="dropdown.text"
      ></div>
    </transition>
  </li>
</template>
<!-- eslint-enable -->

<script>
  export default {
    props: {
      dropdown: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        isOpen: false,
      };
    },
    methods: {
      openDropdownList() {
        this.isOpen = !this.isOpen;
      },
    },
  };
</script>

<style lang="less">
  .dropdown-single {
    font-weight: @weightSemiBold;
    display: flex;
    flex-direction: column;
    grid-auto-flow: unset;
    border: 1px solid #d8d8d8;
    border-radius: 10px;

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      padding: 20px;
      cursor: pointer;
      text-align: left;

      @media @media-sm-max {
        padding: 20px 15px;
      }

      &:hover {
        color: @blue-vivid-12;

        .dropdown-single__icon {
          fill: @blue-vivid-12;
        }
      }
      &.active {
        color: @blue-vivid-12;
        transition: all ease 0.7s;

        .dropdown-single__icon {
          fill: @blue-vivid-12;
          transition: all ease 1s;
          transform: rotate(-180deg);

          path {
            fill: @blue-vivid-12;
          }
        }
        span {
          color: @blue-vivid-12;
        }
      }
      span {
        color: #292929;
        font-weight: 500;
      }
      .dropdown-single__icon {
        margin-left: auto;
        vertical-align: middle;
        transition: all ease 0.7s;

        path {
          fill: #909090;
        }
      }
    }
    &-content {
      padding: 20px;

      @media @media-sm-max {
        padding: 20px 15px;
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: all 0.3s ease-out;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
</style>
