<template>
  <Popup id="gallery-modal" :width="1300">
    <img :src="src" :alt="alt" />
  </Popup>
</template>

<script>
  import Popup from './Popup';

  export default {
    name: 'ModalGallery',
    components: { Popup },
    props: {
      src: {
        type: String,
        default: '',
      },
      alt: {
        type: String,
        default: '',
      },
    },
  };
</script>

<style lang="less">
  /* Popup */
  #gallery-modal {
    .modal__content {
      img {
        width: 100%;
      }
    }
  }
</style>
