<!-- eslint-disable prettier/prettier, max-len -->
<template>
  <modal
    :id="id"
    :width="width"
    :adaptive="true"
    :scrollable="true"
    :name="id"
    height="auto"
    class="modal"
  >
    <div class="modal-wrapper">
      <div class="modal-close">
        <span
          class="icon-cross icon-close"
          @click="$modal.hide(id)"
        ></span>
      </div>

      <div class="modal__content">
        <slot></slot>
      </div>
    </div>
  </modal>
</template>
<!-- eslint-enable -->

<script>
  export default {
    name: 'ModalWrapper',
    props: {
      id: {
        type: String,
        required: true,
      },
      width: {
        type: Number,
        default: 930,
      },
    },
  };
</script>

<style lang="less">
  /* modal */
  .modal {
    .vm--overlay {
      background: rgba(0, 0, 0, 0.7);
    }
    .vm--modal {
      background: #fbfbfc;
      border-radius: 10px;
      overflow: visible;
      max-width: 70vw;
      left: 0 !important;
      right: 0;
      height: auto !important;
      margin: 0 auto;

      @media @media-sm-max {
        width: calc(100vw - 30px) !important;
        margin: 0 auto;
        top: calc(50% + 25px) !important;
        transform: translateY(calc(-50%));
        height: auto !important;
      }
      @media (max-height: 790px) {
        transform: none;
        top: 55px !important;
      }
    }

    &-wrapper {
      position: relative;
      padding: 60px 60px;

      @media @media-sm-max {
        padding: 25px 20px;
      }

      .modal-close {
        .icon-cross {
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          cursor: pointer;
          right: auto;
          left: calc(100% + 10px);
          top: 0;
          background: rgba(0, 0, 0, 0.4);
          border-radius: 5px;

          @media @media-sm-max {
            left: auto;
            right: 0;
            top: auto;
            bottom: calc(100% + 10px);
            width: 35px;
            height: 35px;
          }

          &:after,
          &:before {
            content: '';
            position: absolute;
            height: 2px;
            transform: rotate(45deg);
            background-color: #fff;
            width: 14px;
          }

          &:after {
            transform: rotate(45deg);
          }

          &:before {
            transform: rotate(-45deg);
          }
        }
      }
    }
    &__content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;

      p {
        a {
          color: #0096ff;
        }
      }
      .title_section {
        margin-bottom: 5px;
        line-height: 55px;
      }
      &-description {
        margin-bottom: 40px;

        @media @media-sm-max {
          margin-bottom: 30px;
        }

        p {
          color: #3c3c3c;
        }
      }
      &-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;

        @media @media-sm-max {
          margin-bottom: 12px;
        }
      }
    }
  }
  /* modal */
</style>
